:root {
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6);
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--Very-dark-blue);

}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 1em;
    max-width: 1020px;
}


.card {
    background-color: var(--Dark-desaturated-blue);
    border-radius: 0.5em;
    overflow: hidden;
    max-width: 400px;
}

.card-body {
    padding: 1.2em;
}


.card-img {
    background-image: url(../images/image-header-mobile.jpg);
    background-color: var(--Soft-violet);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
}

h1 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.4;
}

h1, .card-footer {
    color: var(--White);
}

h1 span {
    color: var(--Soft-violet);
}

.card-text p{
    color: var(--Slightly-transparent-white);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 0 1.2em 0 1.2em;
    line-height: 1.6em;
}

.card-footer p {
    color: var(--Slightly-transparent-white-2);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding: 0;

}

.card-footer h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 0;

}

.card-footer {
    text-align: center;
    padding: 0;
}


.attribution {
    padding-top: 1em;
    padding-bottom: 3em;
    color: var(--Slightly-transparent-white);
    text-align: center;
}

.attribution a {
    cursor: pointer;
    text-decoration: none;
    color: var(--Soft-violet);
}

.attribution a:hover {
    color: var(--White);
}

@media only screen and (max-width: 768px) and (min-width: 426px){

    .card-footer {
        display: flex;
        justify-content: space-around;
    
    }

}

@media only screen and (min-width: 769px) {
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1020vh;
        height: 40vh;

    }

    .card-body {
        position: relative;
        order: -1;
    }

    .card-text h1 {
        text-align: start;
        margin-left: 1em;
    }

    .card-text p {
        text-align: start;
        margin-left: 1em;
    }

    .card-footer {
        display: flex;
        justify-content: space-around;

    }

    .card-img {
        height: 100%;
    }

    .container {
        height: 80vh;
        align-items: center;
    }

}